.badge-overlay {
  position: absolute;
  top: 8%;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.badge-image {
  max-width: 50px;
  height: auto;
}
.product-card-link {
  position: relative;
  display: block;
}
.hidden { display: none; }